.url-container {
  display: flex !important;
  padding: 4px 8px !important;
  width: auto !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: var(--background-black);
  color: var(--white);
  border: 1px solid var(--border-gray);
  height: fit-content;
  border-radius: 6px !important;
}

@media (max-width: 700px) {
  .url-container {
    overflow: hidden;
    width: 90% !important;
  }
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: var(--url);
  padding-left: 64px !important;
  padding-right: 64px !important;
}

@media (max-width: 700px) {
  .text-truncate {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
