ul {
  margin-bottom: 0;
}

li {
  list-style: none;
  font-family: var(--url);
}

.tab-selected {
  color: var(--white);
  background-color: var(--background-black);
  border-radius: 6px 6px 0 0;
}

.tab-unselected {
  color: var(--gray);
}
